/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #333;
}
p {
  margin-bottom: 0.8rem;
}
a {
  color: #333;
  text-decoration: none;
}
strong {
  color: #f9ca24;
  font-weight: 400;
}
ul {
  list-style: none;
}
.title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* ************** start vp-container  ********************* */
.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ************** end vp-container  ********************* */

/* ************** Start header  ********************* */
header {
  padding: 1rem 2rem;
  background: #333;
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}

header a {
  color: white;
}
.vp-logo {
  font-size: 2.8rem;
  margin-bottom: 0;
  font-family: "Long Cang", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.vp-logo a {
  font-size: 4rem;
  font-weight: 300;
}
.vp-logo i {
  color: #f9ca24;
  font-size: 0.8rem;
  margin-right: -0.5rem;
  margin-bottom: 1.5rem;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
}
header ul li a:hover {
  color: #f9ca24;
}

/* ************** end header  ********************* */

/* ************** Start vp  ********************* */
.vp {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(./images/frame.jpg);
  background-position: center  center;
  background-size: cover; */

  background: url(../images/frame.jpg) center center/ cover;
}

/* ************** end vp  ********************* */

.vp-content {
  max-width: 800px;
  text-align: center;
  color: white;
}

.vp-content h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.vp-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* offer */
.offer {
  padding: 10rem 1rem;
}

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.offer-list {
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
}
.offer-elem {
  margin: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 23px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  flex: 1;
}

.offer-elem-img {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 0 1.5rem rgba(17, 17, 17, 0.7);
}
.offer-elem-text {
  padding: 2rem;
  text-align: center;
}
.offer-separator {
  height: 2px;
  width: 50px;
  background: #333;
  margin: 1rem auto;
}
